@tailwind base;
@tailwind components;
@tailwind utilities;
@layer base {
  @font-face {
    font-family: "Christmas";
    font-style: normal;
    font-weight: 400;
    font-display: swap;
    src: url(/assets/font/MountainsofChristmas-Bold.ttf) format(".ttf");
  }
}
